
.section2 {
    /* background-color: #00ffd5; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 43rem;
    top: 0px;
}

/* .section2 img {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 10%;
} */

.divi {
    /* background-color: beige; */
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

.divi img {
    width: 350px;
    height: 350px;
}

.text {
    position: absolute;
    font-size: 10rem;
    text-align: center;
    color: #fffb00;
}

.divi div {
    /* background-color: aquamarine; */
    margin-top: 4rem;
    width: 700px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.divsec p {
    margin-top: 5rem;
    font-size: 20px;
}

.divsec button {
    text-align:center;
    margin-top: 3rem;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.divsec button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.divsec button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media (max-width: 440px) {

  .section2 {
    /* background-color: #00ffd5; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40rem;
    top: 0;
  }

  .divi img {
    position: relative;
    width: 80px;
    height: 200px;
  }

  .text {
    position: absolute;
    font-size: 5rem;
    text-align: center;
    color: #fffb00;
  }

  .divi {
    /* background-color: #48ff00; */
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .divi div {
    margin-top: 1rem;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .divsec p {
    margin-top: 2rem;
    font-size: 15px;
    text-align: justify;
  }

  .divsec h1 {
    font-size: 20px;
  }

  .divsec button {
    font-size: 7px;
    height: 30px;
    width: 100%;
  }

}