.sectionn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45rem;
    /* position:relative;
    overflow-y: hidden; */
}

.sectionn img {
  width: 100%;
  height: 100%;
}

.container {
    /* background-color: blueviolet; */
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    position: absolute;
}

.container h1 {
    font-size: 8rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;   
    height: 400px;
} 

@media (max-width: 440px) {
    .sectionn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 57rem;
    }

    .container {
        /* background-color: blueviolet; */
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        position: absolute;
    }

    .img2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;   
        height: 400px;
    } 

    .container h1 {
        font-size: 2rem;
        color: var(--gray-300);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}
